.shortlink-main {
  color: aliceblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.result-shortlink {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  gap: 10px;
}

.result-shortlink input[type=url] {
  width: 15em;
  height: 3em;
  text-align: center;
}

button {
  display: inline-block;
  width: auto;
}